/* reset de la pagina */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #fff;
}

/* barra de navegacion */

.header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 4px 5%;
    width: 100%;
    padding-left: 50px;
    box-shadow: 0 0 60px 10px;
    position: sticky;
    top: 0;
    font-size: 20px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.content {
    background-color: #fff;
    min-height: 8px;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.log{
    width: auto;
    height: 40px;
    transition: all 0.3s;
    cursor: pointer;
}

.log:hover {
    transform: scale(1.1);
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 22px;
    padding: 20px;
    color: #000;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #028940;
}

#menuu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.btn button{
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: #028940;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.header .btn button:hover{
    transform: scale(1.1);
}



@media(max-width:991px) {
    .content {
        min-width: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}

/* carrucel */

.slider{
    width: auto;
    height: auto;
    margin: 0;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
}

@keyframes slide {
    0%{margin-left: 0%;}
    13%{margin-left: 0%;}

    17%{margin-left: -100%;}
    30%{margin-left: -100%;}

    34%{margin-left: -200%;}
    47%{margin-left: -200%;}

    51%{margin-left: -300%;}
    64%{margin-left: -300%;}

    68%{margin-left: -400%;}
    81%{margin-left: -400%;}

    85%{margin-left: -500%;}
    100%{margin-left: -500%;}

}

/* cuadros de informacion */


.destacados{
    margin: 60px;
}

.title{
    width: 650px;
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 60px;
    border-color: #028940;
    border-width: 0 0 1px 0;
    border-style: solid;
} 

.cuadros{
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    
}

.cuadros .imgenlace{
    list-style: none;
}

.cuadros .imgenlace li{
    display: inline-block;
    padding: 0;
    margin: 15px;
    border-color: transparent;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px;
}

.cuadros .imgenlace img{
    width: 250px;

}


/* publicidad */

.pedido{
    display: flex;
    width: 85%;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.pedido p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-right: 20px;
    margin-left: 45px;
}

.pedido span{
    width: 500px;
    height: 80px;
    margin-top: 50px;
    line-height: 70px;
    letter-spacing: 0.3px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.pedido a{
    margin: auto;
    
}

.pedido .btn button{
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: #028940;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 22px;
}

.pedido .btn button:hover{
    transform: scale(1.1);
}

/* pie de pagina */

.footer{
    position: relative;
    width: 100%;
    background-color: #028940;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: #000;
    border-width: 2px 0 0 0;
    border-style: solid;
}

.footer .subs{
    cursor: pointer;
}

.footer .subs img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.footer .subs img:hover{
    transform: scale(1.15);
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 50px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: #fff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s
}

.icon:hover{
    transform: translateY(-10px);
}

.men{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transform: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
    color: #FFC20D;
}
.legal{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}